<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <div class="card p-5">
        <h1 class="text-center">Log in</h1>
        <div class="card-body">
          <%= bootstrap_form_for(:session, url: login_path) do |f| %>
            <%= f.email_field :email, hide_label: true, placeholder: "Email" %>
            <%= f.password_field :password, hide_label: true, placeholder: "Password" %>
            <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
        <p class="text-center text-muted">
          <small>Need an account? <%= link_to "Sign up now", signup_path, class: "font-weight-bold text-secondary" %></small>
        </p>
      </div>
    </div>
  </div>
</div>





